/* ОСНОВНЫЕ ЭЛЕМЕНТЫ */
body {
	margin: 0;
    padding: 0;
	background-image: url("/images/background.jpg");
	font: 22px Arial;
	color: white;
}

nav {
	font: italic 36px Arial;
}

main {
	margin:30px auto; 
	width:100%;
}

main.inline {
	font-size: 0;
}

form {
	margin: 0 40px;
}

form input {
	margin: 5px 0;
}

footer {
	text-align: center;
	color: #1f6feb;
	font: 20px Arial;
	background-color: #0d1117;
	height: 180px;
	border: 0px; 
}

footer li {
	color: #1f6feb;
	margin: 0 50px;
}

h1 {
  text-align: center;
}

/* ССЫЛКИ */

a:hover {
	text-decoration: none;
	background-color: #000;
}


/* СПИСКИ */
ul {
	margin: 30px 0 0 0;
}

li {
	display: inline;
	list-style: none;
}

li a {
	background-color: rgba(28, 29, 23, 0.9);
	color: #0000ff;
	margin: 3px 3px;
	padding: 10px;
	border: 4px solid #67d8ef; 
	border-radius: 8px;
	text-decoration: none;
}

/*КЛАССЫ*/

.inline div {
	display: inline-block; 
	vertical-align: top; 
	font-size:16px; 
}

.sub {
	border-radius: 4px;
	color: #548eaa;
	margin: 0 5px 0 10px;
	background: #f7f7f7;
	width:15%; 
}

.content { 
	border-radius: 4px;		
	width:65%;
	margin: 0 5px 0 5px;
	color: black;
	background: white;
}

.author {
	margin: 0 10px 0 5px;
	border-radius: 4px;
	background-color: rgba(28, 29, 23, 0.7);
	color: black;
	width:15%;
}

.author ul {
	margin: 20px 0;
	padding: 0;
}

.author li a {
	font-size: 20px;
	text-align: center;
	display: block;
	list-style: none;
	background-color: #282923;
	color: #67d8ef;
	margin: 7px 40px;
	padding: 10px;
	border: 1px solid #67d8ef; 
	border-radius: 4px;
	text-decoration: none;
}

.author li a:hover {
	padding: 8px;
	border: 3px solid #67d8ef; 
}