/* ОСНОВНЫЕ ЭЛЕМЕНТЫ */
body {
	margin: 0;
    padding: 0;
	background-image: url("/images/background.jpg");
	font: 22px Arial;
	color: white;
}

nav {
	font: italic 36px Arial;
}

main {
	margin:30px auto; 
	width:100%;
}

main.inline {
	font-size: 0;
	}

footer {
	text-align: center;
	color: #1f6feb;
	font: 20px Arial;
	background-color: #0d1117;
	height: 180px;
	border: 0px; 
}

footer li {
	color: #1f6feb;
	margin: 0 50px;
}

h1 {
  text-align: center;
}

/* ССЫЛКИ */
a {
	background-color: #999;
	margin: 3px 5px;
	padding: 10px;
	border: 3px solid #966; 
	color: violet;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	background-color: #222222;
}


/* СПИСКИ */
ul {
	margin: 50 0 0 60px;
}

li {
	display: inline;
	list-style: none;
}

li a {
	background-color: #0d1117;
	color: #0000ff;
	margin: 3px 3px;
	padding: 10px;
	border: 4px solid #67d8ef; 
	border-radius: 4px;
	text-decoration: none;
}

/*КЛАССЫ*/

.inline div {
	display: inline-block; 
	vertical-align: top; 
	font-size:16px; 
}

.sub {
	color: #548eaa;
	margin: 0 5px 0 10px;
	background: #f7f7f7;
	width:15%; 
}

.content { 	
	width:65%;
	margin: 0 5px 0 5px;
	color: black;
	background: white;
}

.author {
	color: blue;
	margin: 0 10px 0 5px;
	background: white;
	width:15%;
}

.author ul {
	text-align: center;
	margin: 0 0 0 0;
}

.author li a {
	display: block;
	list-style: none;
	background-color: orange;
	color: black;
	margin: 3px 3px;
	border: 0; 
	border-radius: 4px;
	text-decoration: none;
}