/* ОСНОВНЫЕ ЭЛЕМЕНТЫ */
body {
  background-image: url("/images/background.jpg");
  font: 20px Arial;
  color: white;
}

h1 {
  text-align: center;
}

/* ССЫЛКИ */
a {
	background-color: #999;
	margin: 3px 5px;
	padding: 10px;
	border: 3px solid #966; 
	color: violet;
	text-decoration: none;
	font-size: 24px;
}

a:hover {
	text-decoration: none;
	background-color: #222222;
}


/* СПИСКИ */
ul {
	margin: 50 0 0 60px;
	color: red;
}

li {
	display: inline;
	list-style: none;
}

li a {
	background-color: #111;
	font-size: 30px;
	color: #0000ff;
	margin: 3px 3px;
	padding: 10px;
	border: 4px solid #67d8ef; 
	border-radius: 4px;
	text-decoration: none;
}

/*КЛАССЫ*/
.polotno { 	
	border-radius: 10px;
	color: black;
	background: white;
	margin: 30px 100px 50px;
}
